.app{
  display: flex;
  justify-content: center;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}
body{
  --twitter-color:#c22d2d;
  --twitter-background:#e6ecf0;
  transition: color 100ms ease-out;
}